/* Define as cores de fundo e fonte para o corpo da página */
body {
    background-color: rgb(8, 167, 230);
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
}

/* Estiliza o formulário */
form {
    margin-top: 50px;
    text-align: center;
}

